{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [ "styled-components", {
      "ssr": true,
      "displayName": true,
      "minify": true,
      "preprocess": false
    }],
    [ "module-resolver", { "root": ["./"] } ],
    [ "lodash", { "id": ["lodash", "recompose"] }]
  ]
}
